body {
  font-family: 'Courier New', Courier, monospace;
  max-width: 1000px;
  margin: 0 auto;
  background: rgb(0, 0, 0);
}
h1,
h2 {
  color: #ffffff;
}
h3 {
  color: #41b929;
}
p {
  color: #ffffff;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  margin-bottom: 1em;
}
a {
  color: #0e5500fc;
  text-decoration: none;
}
pre {
  background: #f4f4f4;
  padding: 1em;
  border-radius: 5px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
}
th,
td {
  border: 1px solid #ddd;
  padding: 0.5em;
}
th {
  background: #eee;
}
tr:nth-child(even) {
  background: #f9f9f9;
}
footer {
  background: #000000;
  padding: 1em;
  font-size: 0.9em;
  margin-top: 2em;
}
.endpoint {
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;

}
.endpoint p{
    color: #000000;
}
